html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  min-width: 1920px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}