@import "fonts";
@import "libs";
@import "vars";
@import "mixins";
@import "global";

.header {
  padding-top: 45px;
  margin-bottom: 90px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    width: 370px;
    display: flex;
    justify-content: space-between;
  }
}